@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #ffffff;
    --border-color: #393e53;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #20222c;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.border-style {
    border: solid 3px var(--border-color)
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-background {
    background: #000000b0;
}

.modal-container {
    background: #393662
}