@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #ffffff;
    --border-color: #393e53;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #20222c;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.bg-main {
    background: #20222c;
}

.grid-rows-text-and-button {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.full-height-view {
    height: calc(100dvh - 150px);
}

.small-height-view {
    height: calc(100dvh - 50px);
}

.bg-progress-line {
    background: #363e66;
}

.border-style {
    border: solid 3px var(--border-color)
}

.show-more-button {
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.header-border {
    border: solid 2px #4e4cb7;
    border-radius: 12px;
}

.border-right {
    border: 0 solid #4e4cb7;
    border-right-width: 2px;
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 18px;
}

.modal-background {
    background: #000000b0;
}

.modal-container {
    background: #393662
}

.circle-button {
    background: #323a60;
    border-radius: 20px;
    width: 28px;
    height: 28px;
}

.insert-circle {
    background: #6d7abe;
    border-radius: 20px;
    width: 14px;
    height: 14px;
}

.fill-circle {
    background: #6d7abe;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.header-block-animation {
    transition: transform 0.35s ease, opacity 0.35s ease;
}

.first-block {
    overflow: hidden;
    max-height: 200px; /* подберите под контент */
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.35s ease, opacity 0.35s ease, transform 0.35s ease;
}

.first-block.collapsed {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.second-block {
    position: relative;
    border-top: 1px solid #364153;
    border-bottom: 1px solid #364153;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-left: 12px;
    min-height: 50px;
    height: auto;
    justify-content: center;
}

